@charset "UTF-8";
@font-face {
  font-family: "Kranky";
  src: url("../fonts/Kranky-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Kranky";
  src: url("../fonts/Kranky-Regular.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Angeme";
  src: url("../fonts/Angeme-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Angeme";
  src: url("../fonts/Angeme-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Dearkatie";
  src: url("../fonts/Dearkatienbp-nZeg.ttf") format("truetype");
}
body {
  font-family: "Dearkatie", "Kranky", "Angeme", sans-serif;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  z-index: 1;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/header-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  color: black;
  transition: 0s linear;
  transition-property: background-position;
  /* background-attachment: fixed; */
}
.header .wrapper {
  display: flex;
  flex-direction: column;
  gap: 38px;
  position: relative;
}
.header .wrapper .header__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 672px;
  max-width: 90vw;
}
.header .wrapper .header__info h1 {
  font-weight: 700;
  font-size: 5em;
  text-shadow: 0 0 1px black;
}
.header .wrapper .header__info p {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  font-size: 38px;
}
.header .wrapper .header__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header .wrapper .header__contacts h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 0 0 1px black;
}
.header .wrapper .header__contacts .contacts__list {
  font-size: 0.83em;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.header .wrapper .header__contacts .contacts__list .contacts__item {
  padding: 14px 0px;
  transition: all 0.2s;
}
.header .wrapper .header__contacts .contacts__list .contacts__item:active {
  background: #58381b;
  transform: scale(0.9);
}
.header
  .wrapper
  .header__contacts
  .contacts__list
  .contacts__item
  .contacts__link {
  font-weight: 700;
  border-radius: 5px;
  background: #704621;
  padding: 15px 30px;
  transition: all 0.2s;
  color: white;
}
.header
  .wrapper
  .header__contacts
  .contacts__list
  .contacts__item
  .contacts__link:hover {
  background: #925c2c;
}
.header
  .wrapper
  .header__contacts
  .contacts__list
  .contacts__item
  .contacts__link:active {
  background: #58381b;
  transform: scale(0.9);
}

.about {
  width: 100vw;
  min-height: 85vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/wonnie-bmw.png);
  background-size: cover;
  background-position: center;
}
.about .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
}
.about .wrapper::before {
  content: "";
  top: -50%;
  left: -10%;
  position: absolute;
  width: 100vw;
  height: 1200px;
  background-image: url("../img/shadows/header-shadow.png"); /* Подключаем изображение тени */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  z-index: 0;
}
.about .wrapper .about__text {
  width: 672px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  font-size: 27px;
}
.about .wrapper h2 {
  font-weight: 700;
  font-size: 5em;
}

@media screen and (max-width: 1080px) {
  .about .wrapper::before {
    content: "";
    top: -20%;
    left: 0%;
    position: absolute;
    width: 100vw;
    height: 400px;
    opacity: 30%;
    background-image: url("../img/shadows/header-shadow.png"); /* Подключаем изображение тени */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
}
@media screen and (max-width: 574px) {
  .about .wrapper::before {
    content: "";
    top: -30%;
    left: -5.5%;
    position: absolute;
    width: 100vw;
    height: 85vh;
    opacity: 100%;
    background-image: url("../img/shadows/about-shadow.png"); /* Подключаем изображение тени */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.about__text p {
  transition: transform 0.3s ease; /* Добавляем переход для свойства transform */
}

.roadmap {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  background-image: url(../img/wonnie-thinking.png);
  background-size: cover;
  background-position: top;
}
.roadmap .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.roadmap .wrapper h2 {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black,
    0 0 5px black;
  font-weight: 700;
  font-size: 5em;
}
.roadmap .wrapper .roadmap__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 50px;
}
.roadmap .wrapper .roadmap__list .list__group {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.roadmap .wrapper .roadmap__list .roadmap__item {
  color: black;
  font-size: 0.95em;
  letter-spacing: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 85px;
  background-image: url(../img/roadmap-tile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-shadow: 0 0 1px black;
}
.roadmap .wrapper .roadmap__list .roadmap__item:nth-child(4) {
  font-size: 0.8em;
}
.roadmap .wrapper .roadmap__list .roadmap__item:nth-child(5) {
  font-size: 0.7em;
}

@media screen and (max-width: 530px) {
  h2.desktop {
    display: none !important;
  }
  h2.mobile {
    display: block !important;
  }
}
@media screen and (max-width: 1080px) {
  .roadmap .wrapper {
    margin-top: 40px;
    filter: none !important;
  }
}
@media screen and (max-width: 1040px) {
  .list__group {
    flex-direction: column;
  }
}
.tokenomics {
  width: 100vw;
  min-height: 90vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/green.png);
  background-size: cover;
  background-position: 0 center;
}
.tokenomics .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 50px;
  padding-right: 150px;
}
.tokenomics .wrapper h2 {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black,
    0 0 5px black;
  font-weight: 700;
  font-size: 5em;
  line-height: 0%;
}
.tokenomics .wrapper .tokenomics__table {
  background-color: #513b4b;
  width: 250px;
  padding: 30px 5px;
  border-radius: 20px;
  align-self: flex-end;
}
.tokenomics .wrapper .tokenomics__table .table__row {
  font-size: 1.2em;
}
.tokenomics .wrapper .tokenomics__table .table__row .row__title {
  width: 200px;
  padding: 15px 20px;
}
.tokenomics .wrapper .tokenomics__table .table__row .row__value {
  font-weight: 700;
  padding: 15px 20px;
}

@media screen and (max-width: 1080px) {
  .tokenomics .wrapper {
    filter: none !important;
  }
}
@media screen and (max-width: 700px) {
  .tokenomics .wrapper {
    padding: 50px 0;
  }
  .tokenomics .wrapper .tokenomics__table {
    align-self: center;
  }
}
@media screen and (max-width: 473px) {
  .tokenomics {
    height: 100vh;
  }
  .tokenomics .wrapper {
    align-items: center;
    height: 100vh;
  }
  .tokenomics .wrapper h2 {
    font-size: 2.5em !important;
  }
}
.contacts {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/wonnie-chill.png);
  background-size: cover;
  background-position: center;
}
.contacts .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 38px;
}
.contacts .wrapper h2 {
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black,
    0 0 5px black;
}
.contacts .wrapper .contacts__list {
  font-size: 0.83em;
  display: flex;
  gap: 50px;
  row-gap: 0px;
  flex-wrap: wrap;
}
.contacts .wrapper .contacts__list .contacts__item {
  padding: 14px 0px;
  transition: all 0.2s;
}
.contacts .wrapper .contacts__list .contacts__item:active {
  background: #463341;
  transform: scale(0.9);
}
.contacts .wrapper .contacts__list .contacts__item .contacts__link {
  font-weight: 700;
  border-radius: 10px;
  background: #513b4b;
  padding: 20px 50px;
  transition: all 0.2s;
}
.contacts .wrapper .contacts__list .contacts__item .contacts__link:hover {
  background: #694d62;
}
.contacts .wrapper .contacts__list .contacts__item .contacts__link:active {
  background: #463341;
  transform: scale(0.9);
}

@media screen and (max-width: 633px) {
  .contacts {
    height: 500px;
  }
  .contacts .wrapper h2 {
    font-size: 2.5em !important;
    text-align: left;
  }
  .contacts .wrapper li.contacts__item {
    display: flex;
    padding: 0;
    width: 100% !important;
  }
  .contacts .wrapper a.contacts__link {
    display: flex;
    padding: 0;
    width: 100% !important;
    text-align: center;
    justify-content: center;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.preloader.hidden {
  opacity: 0;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #58381b;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
}

* {
  transition: all 0.2s ease-out;
}

body {
  font-size: 24px;
  color: white;
  overflow-x: hidden;
}

hr {
  height: 15vh;
  width: 100vw;
  background-image: url("../img/separator.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  border: none;
  animation: 50s marque infinite linear;
  transform: translateZ(0);
}

@keyframes marque {
  from {
    background-position: 0vw 0;
  }
  to {
    background-position: 100vw 0;
  }
}
@media screen and (max-width: 1080px) {
  body {
    font-size: 20px !important;
  }
  h1 {
    font-size: 3em !important;
  }
  h2 {
    font-size: 3em !important;
  }
  h3 {
    font-size: 1.2em !important;
  }
}
@media screen and (max-width: 1340px) {
  hr {
    height: 11vh;
    width: 100vw;
    background-image: url("../img/separator.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    border: none;
    animation: 15s marque infinite linear;
  }
}
body {
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scroll-behavior: smooth;
  transition: all 2s;
}

::-webkit-scrollbar {
  display: none;
}

#scrollbar {
  position: fixed;
  top: 0;
  transition: none;
  right: 20px; /* Выравнивание справа для примера */
  width: 100px;
  z-index: 999; /* Устанавливаем z-index, чтобы фиксированный div был над другим содержимым */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

@media screen and (max-width: 700px) {
  #scrollbar {
    right: 10px;
  }
} /*# sourceMappingURL=style.css.map */
